
<div style="margin-top: 2.5em">
    <h2 class="ui teal image header">
        <div class="content">
            <p>{{viewTitle}}</p>
        </div>
    </h2>



<table class="ui striped table">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Mobile</th>
        <th>City</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {{# if list }}
    {{#each list}}
    <tr>
        <td>{{this.fullName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.city}}</td>
        <td><a href="/{{this._id}}"><i class="edit icon"></i></a> </td>
        <td><a href="/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?')"><i class="trash icon"></i></a> </td>
    </tr>
    {{/each}}
    {{else}}
        <tr>
            <td>There is no data to show</td>
        </tr>
    {{/if}}
    </tbody>
    <tfoot class="full-width">
    <tr>
        <th></th>
        <th colspan="5">
            <a href="/">
            <div class="ui right floated small primary labeled icon button">

                <i class="user icon"></i> Add Contact

            </div>
            </a>
        </th>
    </tr>
    </tfoot>
</table>

</div>